In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv(r'../data/test.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   profile pic           120 non-null    int64
 1   nums/length username  120 non-null    float64
 2   fullname words        120 non-null    int64
 3   nums/length fullname  120 non-null    float64
 4   name==username        120 non-null    int64
 5   description length    120 non-null    int64
 6   external URL          120 non-null    int64
 7   private               120 non-null    int64
 8   #posts                120 non-null    int64
 9   #followers            120 non-null    int64
 10  #follows              120 non-null    int64
 11  fake                  120 non-null    int64
dtypes: float64(2), int64(10)
memory usage: 11.4 KB

In [5]:
data.head()

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.33,1,0.33,1,30,0,1,35,488,604,0
1,1,0.00,5,0.00,0,64,0,1,3,35,6,0
2,1,0.00,2,0.00,0,82,0,1,319,328,668,0
3,1,0.00,1,0.00,0,143,0,1,273,14890,7369,0
4,1,0.50,1,0.00,0,76,0,1,6,225,356,0